<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.teamTen.recitopia"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
         >
        <activity
            android:name="ca.teamTen.recitopia.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ca.teamTen.recitopia.CreateEditActivity"
            android:label="@string/title_activity_create_edit"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name="ca.teamTen.recitopia.SearchActivity"
            android:label="@string/title_activity_search"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="ca.teamTen.recitopia.FridgeActivity"
            android:label="@string/title_activity_fridge"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="ca.teamTen.recitopia.RecipeListActivity"
            android:label="@string/title_activity_my_recipe"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="ca.teamTen.recitopia.TakePhotoActivity"
            android:label="@string/title_activity_take_photo"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="ca.teamTen.recitopia.RecipeViewActivity"
            android:label="@string/title_activity_recipe_view"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="ca.teamTen.recitopia.RecipeEditActivity"
            android:label="@string/title_activity_edit_recipe"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="ca.teamTen.recitopia.SearchByIngredientActivity"
            android:label="@string/title_activity_search_by_ingredient"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>